@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*
Background pattern downloaded at subtlepatterns.com
*/

html {
	background-color:#404040;
	background-image:url("../imgs/chico.png");
	background-repeat:repeat;
}

body {
	display:block;
	width:990px;
	margin:0 auto;
	font-family:'Jura', Geneva, sans-serif;
	font-size:16px;
	color:#FFF;
}

h1, h2, h3,
h4, h5, h6 {
	color:#FFEA00;
	font-family:'Montserrat', Geneva, sans-serif;
}

h1 {
	font-size: 180%;
}

/* rodape */
#rodape {
	display:block;
	color: #B5FFFF;
	font-size: 75%;
}

#user_zone a {
	display: block;
	color: #000;
	float:right;
	padding: 5px 5px 5px 5px;
	border: 2px solid;
	background-color: #FFF;
	text-decoration: none;
	margin: 0 5px 0 0;
}

#user_zone a:hover {
	color: #000;
	float:right;
	padding: 5px 5px 5px 5px;
	border: 2px solid;
	background-color: #BDBDBD;
	text-decoration: none;
	margin: 2px 4px 0 0;
}

#user_zone a:active {
	color: #FFF;
	float:right;
	padding: 5px 5px 5px 5px;
	border: 2px solid;
	background-color: #363D5C;
	text-decoration: none;
	margin: 0 5px 0 0;
}

object {
	margin: 0 0 0 45px;
}

