@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Jura);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*
Background pattern downloaded at subtlepatterns.com
*/

html {
	background-color:#404040;
	background-image:url("../imgs/chico2.png");
	background-repeat:repeat;
}

body {
	width:1024px;
	margin:0 auto;
	font-family:"Jura", sans-serif;
	font-size:16px;
	color:#FFF;
}

h1, h2, h3,
h4, h5, h6 {
	color:#FFEA00;
	font-family:'Montserrat', Geneva, sans-serif;
}

#content {
	margin-top: 10px;
}

#content input {
	margin: 5px 5px 0 0;
}

/* rodape */
#rodape {
	display:block;
	color:#B5FFFF;
}

a {
	display: block;
	color: #000;
	float:left;
	padding: 5px 5px 5px 5px;
	border: 2px solid;
	background-color: #FFF;
	text-decoration: none;
	margin: 0 5px 0 0;
}

a:hover {
	color: #000;
	padding: 5px 5px 5px 5px;
	border: 2px solid;
	background-color: #BDBDBD;
	text-decoration: none;
	margin: 0 5px 0 0;
}

a:active {
	color: #FFF;
	padding: 5px 5px 5px 5px;
	border: 2px solid;
	background-color: #363D5C;
	text-decoration: none;
	margin: 0 5px 0 0;
}

#usrdata a {
	float:right;
}

a#logout {
	float: right;
}

#usrdata table {
	color: #000;
	width: 100%;
	border:2px solid;
	border-color:#000;
	border-collapse:collapse;
}

#usrdata th {
	font-weight: bold;
	background-color: #262626;
	color: #FFF;
	text-align: center;
}

#usrdata tr {
	background-color: #E0E0E0;
    border-bottom: 1px solid;
}

#usrdata tr:hover {
	/* background-color: #9C9C9C;
    text-decoration: underline;
	font-weight: bold; */
    background-color: rgba(126,127,125,0.5);
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    color: white;
}

#usrdata td {
	padding: 2px 5px 2px 5px;
    border: 1px solid;
}

#failed {
	color: red;
}

#backoffice p {
    display: block;
    float: right;
    margin: 7px 7px 0 0;
}

#backtop {
    float: right;
    position: relative;
}

#backtop a {
    color: #C7C7C7;
    background: none;
    border: none;
}

#backtop a:hover {
    color: #808080;
    background: none;
    border: none;
}